<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Ubah Penduduk</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" />
<script
	src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
</head>

<body>

	<h3 align="center">Form Ubah Penduduk</h3>
	<hr />
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<form th:action="@{/penduduk/ubah/submit}" th:object="${penduduk}"
				method="post">
				<input class="form-control" type="hidden" name="nik"
					th:field="*{nik}" />
				<div class="form-group">
					<label for="nama">Masukkan Nama</label> <input class="form-control"
						type="text" name="nama" th:field="*{nama}" />
				</div>
				<div class="form-group">
					<label for="tempatLahir">Tempat Lahir</label> <input
						class="form-control" type="text" name="tempat_lahir"
						th:field="*{tempat_lahir}" />
				</div>
				<div class="form-group">
					<label for="tanggalLahir">Tanggal Lahir</label> <input
						class="form-control" type="date" name="tanggal_lahir"
						th:field="*{tanggal_lahir}" />
				</div>
				<div class="form-group">
					<label for="golonganDarah">Golongan Darah</label> <select
						class="form-control" name="golongan_darah">
						<option th:value="'-'">--Pilih Golongan Darah</option>
						<option th:value="'A-'" th:selected="*{golongan_darah == 'A-'}">A-</option>
						<option th:value="'A+'" th:selected="*{golongan_darah == 'A+'}">A+</option>
						<option th:value="'B-'" th:selected="*{golongan_darah == 'B-'}">B-</option>
						<option th:value="'B+'" th:selected="*{golongan_darah == 'A+'}">B+</option>
						<option th:value="'O-'" th:selected="*{golongan_darah == 'O−'}">O-</option>
						<option th:value="'O+'" th:selected="*{golongan_darah == 'O+'}">O+</option>
						<option th:value="'AB+'" th:selected="*{golongan_darah == 'AB+'}">AB+</option>
					</select>
				</div>
				<div class="form-group">
					<label for="jenisKelamin">Jenis Kelamin</label> <select
						class="form-control" name="jenis_kelamin">
						<option th:value="'-'">--Pilih Jenis Kelamin</option>
						<option th:value="1" th:selected="*{jenis_kelamin == 1}">Wanita</option>
						<option th:value="0" th:selected="*{jenis_kelamin == 0}">Pria</option>
					</select>
				</div>
				<div class="form-group">
					<label for="agama">Agama</label> <input class="form-control"
						type="text" name="agama" th:field="*{agama}" />

				</div>
				<div class="form-group">
					<label for="pekerjaan">Pekerjaan</label> <input
						class="form-control" type="text" name="pekerjaan"
						th:field="*{pekerjaan}" />
				</div>
				<div class="form-group">
					<label for="isWNI">Kewarganegaraan</label> <select
						class="form-control" name="is_wni">
						<option value="'-'">--Pilih Status Kewarganegaraan</option>
						<option value="1" th:selected="*{is_wni == 1}">WNI</option>
						<option value="0" th:selected="*{is_wni == 0}">WNA</option>
					</select>
				</div>
				<div class="form-group">
					<label for="isWafat">Status Kematian</label> <select
						class="form-control" name="is_wafat">
						<option value="'-'">--Pilih Status Kematian</option>
						<option value="0" th:selected="*{is_wafat == 0}">Hidup</option>
						<option value="1" th:selected="*{is_wafat == 1}">Wafat</option>
					</select>
				</div>
				<div class="form-group">
					<label for="statusPerkawinan">Status Perkawinan</label> <select
						class="form-control" name="status_perkawinan">
						<option value="'-'">--Pilih Status Perkawinan</option>
						<option value="Belum Kawin"
							th:selected="*{status_perkawinan == 'Belum Kawin'}">Belum
							Kawin</option>
						<option value="Kawin"
							th:selected="*{status_perkawinan == 'Kawin'}">Kawin</option>
						<option value="Cerai Mato"
							th:selected="*{status_perkawinan == 'Cerai Mati'}">Cerai
							Mati</option>
					</select>
				</div>
				<div class="form-group">
					<label for="statusDalamKeluarga">Status Dalam Keluarga</label> <input
						class="form-control" type="text" name="status_dalam_keluarga"
						th:field="*{status_dalam_keluarga}" />
				</div>
				<div class="form-group">
					<label for="idKeluarga">ID Keluarga</label> <input
						class="form-control" type="text" name="id_keluarga"
						th:field="*{id_keluarga}" />
				</div>
				<button class="btn btn-primary" type="submit" name="action"
					value="save">Save</button>
			</form>
		</div>
	</div>
</body>

</html>

