<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View</title>
<div th:replace="fragments/fragment  :: CSS"></div>
</head>
<body>
	<h2 align="center">View</h2>
	<hr />
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-sm-5" style="display: inline-block">

				<h3 style="text-align: center">Penduduk Termuda</h3>
				<table class="table table-bordered" style="text-align: center">
					<tr class="active">
						<td>Nik</td>
						<td th:text="${muda.nik}">nik</td>
					</tr>
					<tr>
						<td>Nama</td>
						<td th:text="${muda.nama}">nama</td>
					</tr>
					<tr class="active">
						<td>Tanggal Lahir</td>
						<td th:text="${muda.tanggal_lahir}">tanggalLahir</td>
					</tr>
					<tr>
						<td>Umur</td>
						<td th:text="${muda.umur}">umur</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-5" style="float: right">
				<h3 style="text-align: center">Penduduk Tertua</h3>
				<table class="table table-bordered" style="text-align: center">
					<tr class="active">
						<td>Nik</td>
						<td th:text="${tua.nik}">nik</td>
					</tr>
					<tr>
						<td>Nama</td>
						<td th:text="${tua.nama}">nama</td>
					</tr>
					<tr class="active">
						<td>Tanggal Lahir</td>
						<td th:text="${tua.tanggal_lahir}">tanggalLahir</td>
					</tr>
					<tr>
						<td>Umur</td>
						<td th:text="${tua.umur}">umur</td>
					</tr>
				</table>
			</div>


			<table class="table table-bordered" id="mytable">
				<thead>
					<tr style="text-align: center" class="active">
						<th>No</th>
						<th>Nama Lengkap</th>
						<th>NIK</th>
						<th>Jenis Kelamin</th>
					</tr>
				</thead>
				<tbody>
					<tr style="text-align: center"
						th:each="penduduk,iterationStatus:${penduduk}">
						<th th:text="${iterationStatus.count}">No</th>
						<th th:text="${penduduk.nama}">Nama</th>
						<th th:text="${penduduk.nik}">Nik</th>
						<th th:switch="${penduduk.jenis_kelamin}">
							<div th:case="1">Wanita</div>
							<div th:case="0">Pria</div>
						</th>
					</tr>
				</tbody>
			</table>
			<button style="margin: auto" class="btn btn-primary"
				onclick="Backfunction()">back</button>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#mytable').DataTable();
		});
		function Backfunction() {
			location.href = "/penduduk/cari"
		}
	</script>
</body>
</html>