<!DOCTYPE   html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home Kependudukan</title>
<div th:replace="fragments/fragment  :: CSS"></div>
</head>
<body>
	<h3 align="center">Daftar Module Sistem</h3>
	<hr />
	<div class="row" align="center">
		<div class=".col-md-6 .offset-md-3">
			<a class="btn btn-default btn-lg" style="width: 25% !important;"
				href="/penduduk/home">PENDUDUK</a>
		</div>
	</div>
	<br />
	<div class="row" align="center">
		<div class=".col-md-6 .offset-md-3">
			<a class="btn btn-default btn-lg" style="width: 25% !important;"
				href="/keluarga/home">KELUARGA</a>
		</div>
	</div>
	<br />
	<div class="row" align="center">
		<div class=".col-md-6 .offset-md-3">
			<a class="btn btn-default btn-lg" style="width: 25% !important;"
				href="/penduduk/cari">CARI KOTA</a>
		</div>
	</div>
</body>
</html>