<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Tambah Penduduk</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<div th:replace="fragments/fragment  :: CSS"></div>
</head>

<body>

	<h3 align="center">Form Keluarga</h3>
	<hr />
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		<h3 th:text="${messages}"></h3>
			<form th:action="@{/keluarga/tambah}" th:object="${keluarga}"
				method="post">
				<div class="form-group">
					<label for="nama">Alamat</label> <input class="form-control"
						type="text" name="alamat" required="required" />
				</div>
				<div class="form-group">
					<label for="tempatLahir">RT</label> <input class="form-control"
						type="text" name="rt" required="required" />
				</div>
				<div class="form-group">
					<label for="tanggalLahir">RW</label> <input class="form-control"
						type="text" name="rw" required="required" />
				</div>
				<div class="form-group">
					<label for="pekerjaan">Kelurahan/Desa</label> <input
						class="form-control" type="text" name="NamaKelurahan"
						required="required" />
				</div>
				<div class="form-group">
					<label for="statusDalamKeluarga">Kecamatan</label> <input
						class="form-control" type="text" name="NamaKecamatan"
						required="required" />
				</div>
				<div class="form-group">
					<label for="idKeluarga">Kota</label> <input class="form-control"
						type="text" name="NamaKota" required="required" />
				</div>
				<button class="btn btn-primary" type="submit" name="action"
					value="save">Save</button>
			</form>
		</div>
	</div>
</body>

</html>

