<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>View Keluarga</title>
<div th:replace="fragments/fragment  :: CSS"></div>
</head>
<body>
	<h2 align="center">View</h2>
	<hr />
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="col-sm-5">
				<h3 th:text="'Lihat Data Keluarga - '+${keluarga.nomor_kk}">NIK</h3>
				<table class="table table-bordered" style="text-align: center"
					th:each="keluarga,iterationStatus:${keluarga}">
					<tr class="active">
						<td>NKK</td>
						<td th:text="${keluarga.nomor_kk}">alamat</td>
					</tr>
					<tr>
						<td>Alamat</td>
						<td th:text="${keluarga.alamat}">alamat</td>
					</tr>
					<tr class="active">
						<td>RT/RW</td>
						<td th:text="${keluarga.rt}+'/'+${keluarga.rt}">rtrw</td>
					</tr>
					<tr>
						<td>Kelurahan/Desa</td>
						<td th:text="${keluarga.NamaKelurahan}">klurahan</td>
					</tr>
					<tr class="active">
						<td>Kecamatan</td>
						<td th:text="${keluarga.NamaKecamatan}">kcmtn</td>
					</tr>
					<tr>
						<td>Kota</td>
						<td th:text="${keluarga.NamaKota}">kota</td>
					</tr>
				</table>
			</div>

			<table class="table table-bordered" id="mytable">
				<thead>
					<tr style="text-align: center" class="active">
						<th>No</th>
						<th>Nama Lengkap</th>
						<th>NIK</th>
						<th>Jenis Kelamin</th>
						<th>Tempat Lahir</th>
						<th>Tanggal Lahir</th>
						<th>Agama</th>
						<th>Pekerjaan</th>
						<th>Status Perkawinan</th>
						<th>Status Dalam Keluarga</th>
						<th>Kewarganegaraan</th>
					</tr>
				</thead>
				<tbody>
					<tr style="text-align: center"
						th:each="penduduk,iterationStatus:${penduduk}">
						<th th:text="${iterationStatus.count}">No</th>
						<th th:text="${penduduk.nama}">No</th>
						<th th:text="${penduduk.nik}">Nik</th>
						<th th:switch="${penduduk.jenis_kelamin}">
							<div th:case="1">Wanita</div>
							<div th:case="0">Pria</div>
						</th>
						<th th:text="${penduduk.tempat_lahir}">tmpt</th>
						<th th:text="${penduduk.tanggal_lahir}">tnggl</th>
						<th th:text="${penduduk.agama}">agama</th>
						<th th:text="${penduduk.pekerjaan}">pkrjaan</th>
						<th th:text="${penduduk.status_perkawinan}">pkrjaan</th>
						<th th:text="${penduduk.status_dalam_keluarga}">pkrjaan</th>
						<th th:switch="${penduduk.is_wni}">
							<div th:case="1">WNI</div>
							<div th:case="0">Warga Asing</div>
						</th>
					</tr>
				</tbody>
			</table>
			<br />
			<button style="margin: auto" class="btn btn-primary"
				onclick="Backfunction()">back</button>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#mytable').DataTable();
		});
		function Backfunction() {
			location.href = "/keluarga/home"
		}
	</script>
</body>

</html>